<div class="container text-center my-5">
    <div class="card">
    <h1 class="card-header">TRN - Bienvenidos(as)</h1>
    <div class="card-body">
        <h5 class="card-title">¡El lugar para estar informados(as)!</h5>
        <p class="card-text">Mantente al día en la realidad nacional y mundial en TRN, tú sitio de noticias y deja tus opiniones con linertad y respeto...</p>
        <%= link_to "Adelante!!", posts_path, class:"btn btn-primary mt-3 px-5", ariaCurrent:"page" %>
    </div>
    </div>
</div>
